<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <httpRuntime targetFramework="4.6.1" enableVersionHeader="false" />
    <compilation debug="true" targetFramework="4.6.1" />
  </system.web>
  <connectionStrings>
    <add name="Vidyano" connectionString="metadata=res://*/Repository.VidyanoEntityModel.csdl|res://*/Repository.VidyanoEntityModel.ssdl|res://*/Repository.VidyanoEntityModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EersteTestStage;Integrated Security=True'" providerName="System.Data.EntityClient" />
    <add name="Vidyano.Logging" connectionString="disabled" />
    <add name="EersteTestStageEntityModelContainer" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EersteTestStage;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Vidyano.TargetDbContextType" value="VidyanoApplication2.Service.EersteTestStageEntityModelContainer, VidyanoApplication2" />
    <add key="Vidyano.ApplicationSalt" value="lRrLU0c-T5M8eE0IW7OZIzmIrVTrjtUYsZMDe6TTz-7WAYYMEmXL2mibhsD4_TTI" />
    <add key="Vidyano.DiagnosticsToken" value="4qeyiECgbWOEuznJVfDhOYym3dW5bNiBv4ouWD7izYvDbtVBqa_4mUJ71bbYDebZ" />
    <add key="Vidyano.ObjectIdsSalt" value="InNA2Kv1pvQP3m-MwPwiL_DxjCe-XD4f_0cRGkomqJQPCFLKwKX2CQHIXTjAQBCy" />
    <add key="Vidyano.ObjectIdsMinHashLength" value="6" />
    <!--<add key="Vidyano.CidrRanges" value="192.168.0.0/16;127.0.0.0/24" />-->
    <add key="Vidyano.Development" value="True" />
    <!--
      Recommended options, enable if possible
      -->
    <!--<add key="Vidyano.ForceHttps" value="True" />-->
    <!--<add key="Vidyano.NoImplicitAdminRights" value="True" />-->
    <!--<add key="Vidyano.TransactionIsolationLevel" value="Snapshot" />-->
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Vidyano" type="Vidyano.Service.WebControllerModule, Vidyano.Service" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  <httpProtocol>
  <customHeaders>
  <remove name="X-Powered-By" />
  </customHeaders>
  </httpProtocol>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>